.advantages {
  padding: 20px;
}

.advantages__item {
  background-color: $bg-color;
  font-weight: 400;
  padding: 20px;
}

.advantages__title {
  font-size: 24px;
  text-transform: uppercase;
  font-family: $main-font;
  color: $primary-font-color;
}

.advantages__text {
  font-size: 14px;
  line-height: 18px;
  color: $secondary-font-color;
}

.advantages__link {
  text-decoration: none;
  color: $primary-font-color;
  font-family: $main-font;
  font-size: 16px;
  text-transform: uppercase;
}
