.contacts {
  background-color: #ffffff;
}

@media (min-width: $desktop-min-width) {
  .contacts {
    position: relative;
    z-index: 5;
  }

  .contacts__overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 10;
  }
}
