.cooperation {
  padding: 20px;
  display: flex;

  &--index {
    background-color: #ffffff;
  }

  &--other {
    background-color: $bg-color;
  }
}

.cooperation__title {
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  color: $primary-font-color;
  text-transform: uppercase;
  margin-right: 25px;
}

.cooperation__address {
  font-size: 14px;
  line-height: 20px;
  color: $secondary-font-color;
}

@media (min-width: $tablet-min-width) {
  .cooperation {
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
  }

  .cooperation__title {
    width: 175px;
    font-size: 20px;
  }

  .cooperation__address {
    text-align: right;
    width: 170px;
  }
}

@media (min-width: $desktop-min-width) {
  .cooperation {
    margin-top: 90px;
    margin-left: 40px;
    width: 570px;
    padding: 60px 70px;
    z-index: 10;

    &--other {
      background-color: #ffffff;
    }
  }

  .cooperation__title {
    font-size: 20px;
    line-height: 25px;
  }

  .cooperation__address {
    font-size: 16px;
    text-align: left;
  }
}
