.cooperation {
  padding: 20px;
  display: flex;
  background-color: $bg-color;
}

.cooperation__title {
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  color: $primary-font-color;
  text-transform: uppercase;
  margin-right: 25px;
}

.cooperation__address {
  font-size: 14px;
  line-height: 20px;
  color: $secondary-font-color;
}
