.cooperation {
  padding: 20px;
  display: flex;
  background-color: $bg-color;
}

.cooperation__title {
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  color: $primary-font-color;
  text-transform: uppercase;
  margin-right: 25px;
}

.cooperation__address {
  font-size: 14px;
  line-height: 20px;
  color: $secondary-font-color;
}

@media (min-width: $tablet-min-width) {
  .cooperation {
    padding: 40px 70px 60px 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
  }

  .cooperation__title {
    width: 175px;
  }

  .cooperation__address {
    text-align: right;
    width: 170px;
  }
}
