.copyright__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: $secondary-font-color;
}

.copyright__wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__logo {
  fill: #666666;
}

@media (min-width: $tablet-min-width) {
  .copyright__wrapper {
    width: 160px;
  }
}

@media (min-width: $desktop-min-width) {
  .copyright__wrapper {
    &:hover {
      .copyright__logo {
        fill: $primary-color;
      }
    }

    &:active {
      opacity: 0.4;
    }
  }
}
