.example {
  background-color: $bg-color;
  padding: 20px;
}

.example__title {
  color: $primary-font-color;
  margin-bottom: 40px;
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 30px;
}

.example__expenses {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.example__result {
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  position: relative;
  width: 125px;
  height: 55px;
  text-align: center;
  line-height: 55px;

  &:first-child {
    margin-right: 30px;
  }
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  font-family: $main-font;
  font-weight: 400;
  color: $primary-font-color;
  text-transform: uppercase;
}

.example__desk {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  text-align: center;

  span {
    background-color: $bg-color;
    padding: 0 10px;
    display: inline-block;
    width: 90px;
    text-transform: lowercase;
  }
}

.example__price {
  font-size: 14px;
  line-height: 20px;
  font-family: $main-font;
  font-weight: 400;
  color: $primary-font-color;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.example__slider {
  width: 280px;
  padding-top: 250px;
  min-height: 290px;
  position: relative;
  margin: 0 auto;
}

.example__slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;

  &--before {
    width: 0;

    .example__image {
      position: absolute;
      left: 0;
    }
  }

  &--after {
    right: 0;

    .example__image {
      position: absolute;
      right: 0;
    }
  }
}

.example__range {
  width: 85px;
  margin: 0 20px;
}

.example__image {
  margin: 0;
  margin-bottom: 40px;
  max-width: 280px;
  width: 280px;
}

.example__buttons {
  text-align: center;
}

.example__button {
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

@media (min-width: $tablet-min-width) {
  .example {
    background-color: #ffffff;
    padding: 30px;
    position: relative;

    &::before {
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      height: 460px;
      background-color: $bg-color;
      position: absolute;
      z-index: 1;
    }
  }

  .example__title {
    margin-bottom: 50px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }

  .example__result {
    width: 160px;
    height: 70px;
    line-height: 75px;
  }

  .example__expenses {
    margin-bottom: 0;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__desk {
    font-size: 14px;
    line-height: 31px;

    span {
      background-color: #ffffff;
      width: auto;
    }
  }

  .example__price {
    font-size: 20px;
    line-height: 20px;
    width: 180px;
    text-align: right;
    margin-bottom: 0;
  }

  .example__image {
    max-width: 690px;
    width: 690px;
  }

  .example__slider {
    z-index: 2;
    width: 690px;
    padding-top: 517px;
    min-height: 500px;
    position: relative;
  }

  .example__slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;

    &--before {
      width: 0;

      .example__image {
        position: absolute;
        left: 0;
      }
    }

    &--after {
      right: 0;

      .example__image {
        position: absolute;
        right: 0;
      }
    }
  }

  .example__range {
    width: 428px;
    margin: 0 25px;
  }

  .example__buttons {
    margin: 30px 0;
  }

  .example__button {
    position: relative; /** z-index работает только с position: relative **/
    z-index: 2;
    font-size: 20px;
  }
}

@media (min-width: $desktop-min-width) {
  .example__centering {
    @include desktop-centering;
    padding: 10px 40px;
    display: flex;
  }

  .example__title {
    margin-bottom: 140px;
    margin-top: 45px;
  }

  .example__main-wrapper {
    z-index: 2;
    flex: 1;
  }

  .example__text {
    width: 82%;
    margin-bottom: 60px;
  }

  .example__wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .example__expenses {
    margin-bottom: 50px;
  }

  .example__desk {
    span {
      background-color: $bg-color;
    }
  }

  .example__price {
    width: auto;
    text-align: left;
  }
}
