.extra-card {
  border-bottom: 1px solid #cdcdcd;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.extra-card:first-of-type {
  border-top: 1px solid #cdcdcd;
}

.extra-card__title {
  font-family: $main-font;
  font-size: 16px;
  line-height: 16px;
  color: $primary-font-color;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.extra-card__table {
  font-size: 14px;
  line-height: 14px;
  color: $secondary-font-color;
  margin-bottom: 15px;
  width: 100%;
  max-width: 280px;

  td:last-child {
    text-align: right;
  }
}

@media (min-width: $tablet-min-width) {
  .extra-card {
    border: 1px solid #cdcdcd;
    padding: 30px 40px;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .extra-card__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .extra-card__title {
    font-size: 20px;
    line-height: 20px;
  }

  .extra-card__table {
    font-size: 16px;
    line-height: 20px;
    width: auto;

    td {
      text-align: right;

      &:last-child {
        padding-left: 50px;
      }
    }
  }

  .extra-card__button {
    max-width: 100%;
  }
}

@media (min-width: $desktop-min-width) {
  .extra-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0;
    border-left: none;
    border-right: none;
  }

  .extra-card__wrapper {
    width: 100%;
  }

  .extra-card__table {
    width: 100%;

    td {
      text-align: left;
    }
  }

  .extra-card__button {
    min-width: 245px;
    width: auto;
    margin-left: 40px;
  }
}
