.header {
  background-color: #ffffff;
  min-height: 65px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  align-items: center;
}

.header__logo-mob {
  display: block;
}

.header__logo-tab,
.header__logo-desk {
  display: none;
}

.header__toggle-wrapper {
  width: 33px;
  text-align: right;
}

.header__menu-toggle {
  cursor: pointer;
  background: transparent;
  border: none;
}

.header__menu-icon--burger {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .header__centering {
    display: flex;
    justify-content: space-between;
  }

  .header__wrapper {
    border: none;
    padding: 20px 30px;
  }

  .header__logo-mob,
  .header__logo-desk {
    display: none;
  }

  .header__logo-tab {
    display: block;
  }

  .header__toggle-wrapper {
    display: none;
  }
}

@media (min-width: $desktop-min-width) {
  .header--index {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
  }

  .header__wrapper {
    padding: 20px 40px;
  }

  .header__logo {
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.4;
    }
  }

  .header__logo-desk {
    display: block;
  }

  .header__logo-mob,
  .header__logo-tab {
    display: none;
  }
}
