.main-navigation {
  background-color: #ffffff;
  width: 100%;
}

.main-navigation__list {
  padding: 0;
  margin: 0;
}

.main-navigation__item {
  border-bottom: 1px solid #e6e6e6;
  list-style-type: none;
  padding: 24px 0;
  text-align: center;
}

.main-navigation__link {
  text-decoration: none;
  font-family: $main-font;
  font-size: 20px;
  font-weight: 400;
  align-items: 20px;
  color: $primary-font-color;
  text-transform: uppercase;
  display: block;
}

@media (min-width: $tablet-min-width) {
  .main-navigation {
    width: auto;
  }

  .main-navigation__wrapper {
    padding: 20px 30px;
  }

  .main-navigation__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-navigation__item {
    border: none;

    &:not(:first-child) {
      margin-left: 40px;
    }
  }

  .main-navigation__link {
    font-size: 18px;
    align-items: 24px;

    &--active {
      border-bottom: 2px solid $primary-color;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .main-navigation {
    background-color: transparent;
  }

  .main-navigation__wrapper {
    padding: 20px 40px;
  }

  .main-navigation__link {
    font-size: 20px;

    &--index {
      color: #ffffff;
    }

    &--active-white {
      border-bottom: 2px solid #ffffff;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.4;
    }
  }
}
