.picking-form__fieldset {
  padding: 20px;
  border: none;
  display: flex;
  text-transform: uppercase;
  font-family: $main-font;
}

.picking-form__fieldset:nth-of-type(1),
.picking-form__fieldset:nth-of-type(2) {
  border-bottom: 1px solid #ededed;
}

.picking-form__title {
  font-family: $main-font;
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  line-height: 24px;
  margin: 10px 0 30px 0;
}

.picking-form__label {
  display: flex;
  align-items: center;
  position: relative;
}

.picking-form__label:not(:last-of-type) {
  margin-bottom: 15px;
}

.picking-form__label--email::after {
  content: "";
  width: 17px;
  height: 13px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 15px;
}

.picking-form__label--phone::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 13px;
  right: 15px;
}

.picking-form__text-input {
  border: 1px solid #e6e6e6;
  height: 45px;
  flex-grow: 1;
  padding: 15px;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  color: $secondary-font-color;
  text-transform: uppercase;
  margin-left: 15px;
}

.picking-form__textarea {
  border: 1px solid #e6e6e6;
  width: 100%;
  padding: 15px;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  color: $secondary-font-color;
  text-transform: uppercase;
  height: 150px;
}

.picking-form__text-input::placeholder,
.picking-form__textarea::placeholder {
  color: $secondary-font-color;
}

@media (min-width: $tablet-min-width) {
  .picking-form {
    padding: 30px;
  }

  .picking-form__fieldset {
    padding: 40px;
  }

  .picking-form__fieldset:nth-of-type(1) {
    border: none;
  }

  .picking-form__fieldset:nth-of-type(2) {
    border: 1px solid #ededed;
    margin: 0 40px;
  }

  .picking-form__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 70px;
  }

  .picking-form__label {
    font-size: 20px;
  }

  .picking-form__label:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .picking-form__label--email::after {
    top: 19px;
    right: 20px;
  }

  .picking-form__label--phone::after {
    top: 16px;
    right: 16px;
  }

  .picking-form__text-input {
    font-size: 20px;
    line-height: 20px;
    height: 50px;
  }

  .picking-form__wrapper {
    display: flex;
    flex-wrap: wrap;

    .picking-form__label {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  .picking-form__textarea {
    font-size: 20px;
    height: 170px;
  }
}
