.picking-form__fieldset {
  padding: 20px;
  border: none;
  display: flex;
  text-transform: uppercase;
  font-family: $main-font;
}

.picking-form__fieldset:first-of-type,
.picking-form__fieldset--radio {
  border-bottom: 1px solid #ededed;
}

.picking-form__title {
  font-family: $main-font;
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  line-height: 24px;
  margin: 10px 0 30px 0;
}

.picking-form__label {
  display: flex;
  align-items: center;
  position: relative;
}

.picking-form__label:not(:last-of-type) {
  margin-bottom: 15px;
}

.picking-form__icon {
  position: absolute;

  &--email {
    top: 16px;
    right: 15px;
  }

  &--phone {
    top: 13px;
    right: 13px;
  }
}

.picking-form__text-input {
  border: 1px solid #e6e6e6;
  height: 45px;
  flex-grow: 1;
  padding: 15px;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  color: $secondary-font-color;
  text-transform: uppercase;
  margin-left: 15px;

  &:hover {
    border: 1px solid #cdcdcd;

    & + .picking-form__icon {
      fill: black;
    }
  }

  &:focus {
    border: 1px solid $secondary-font-color;

    & + .picking-form__icon {
      fill: green;
    }
  }

  &--error {
    border: 1px solid #ff8282;

    & + .picking-form__icon {
      fill: #ff8282;
    }
  }
}

.picking-form__textarea {
  border: 1px solid #e6e6e6;
  width: 100%;
  padding: 15px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $secondary-font-color;
  text-transform: uppercase;
  height: 150px;
}

.picking-form__text-input::placeholder,
.picking-form__textarea::placeholder {
  color: $secondary-font-color;
}

@media (min-width: $tablet-min-width) {
  .picking-form {
    padding: 30px;
  }

  .picking-form__fieldset {
    padding: 40px;

    &--radio {
      border: 1px solid #ededed;
      margin: 0 40px;
    }
  }

  .picking-form__fieldset:first-of-type {
    border: none;
  }

  .picking-form__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 70px;
  }

  .picking-form__label {
    font-size: 20px;
  }

  .picking-form__label:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .picking-form__icon {
    &--email {
      top: 19px;
      right: 20px;
    }

    &--phone {
      top: 16px;
      right: 16px;
    }
  }

  .picking-form__text-input {
    font-size: 20px;
    line-height: 20px;
    height: 50px;
  }

  .picking-form__wrapper--options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .picking-form__label {
      width: 45%;
      margin-bottom: 30px;
    }
  }

  .picking-form__textarea {
    height: 170px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-min-width) {
  .picking-form {
    padding: 0;
  }

  .picking-form__title {
    margin-top: 0;
  }

  .picking-form__wrapper {
    display: flex;

    &--total {
      .picking-form__fieldset {
        flex-grow: 1;
      }
    }

    &--contacts {
      .picking-form__label {
        margin-bottom: 0;
        flex-grow: 1;
      }
    }
  }

  .picking-form__fieldset--contacts {
    padding: 0;

    .picking-form__title {
      margin-left: 40px;
    }
  }

  .picking-form__label--email,
  .picking-form__label--phone {
    padding: 40px;
    width: 50%;

    // &:active {
    //   .picking-form__icon {
    //     fill: green;
    //   }
    // }
  }

  .picking-form__icon {
    &--email {
      top: 58px;
      right: 58px;
    }

    &--phone {
      top: 55px;
      right: 58px;
    }
  }

  .picking-form__fieldset--radio {
    margin: 40px;
    padding: 20px;

    .picking-form__label:not(:last-of-type) {
      margin-bottom: 13px;
    }
  }

  .picking-form__wrapper--options {
    justify-content: space-between;

    .picking-form__label {
      width: 18%;
    }
  }

  .picking-form__text-input {
    outline: none;

    &:active {
      border: 1px solid $secondary-font-color;

      & + .picking-form__icon {
        fill: green;
      }
    }
  }

  .picking-form__textarea {
    height: 175px;
  }
}
