.programs__text {
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  color: $primary-font-color;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px;
}

.programs__button-wrapper {
  padding: 20px;
  padding-top: 15px;
  text-align: center;
}

.programs__button {
  margin-bottom: 20px;
}

.programs__note {
  font-size: 14px;
  line-height: 16px;
  color: $secondary-font-color;
}

@media (min-width: $tablet-min-width) {
  .programs__button-wrapper {
    padding: 40px;
    display: flex;
  }

  .programs__text {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin: 0 65px 30px 65px;
  }

  .programs__note {
    font-size: 16px;
    line-height: 16px;
    margin-left: 60px;
  }

  .programs__button {
    width: 45%;
  }
}
