.programs__text {
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  color: $primary-font-color;
  font-weight: 400;
}

.programs__note {
  font-size: 14px;
  line-height: 16px;
  color: $secondary-font-color;
}
