.product-card {
  border-bottom: 1px solid #ededed;
  padding: 20px;
  list-style-type: none;
}

.product-card__wrapper {
  display: flex;
  align-items: center;
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  font-family: $main-font;
  color: $primary-font-color;
  text-transform: uppercase;
  width: 80px;
}

.product-card__table-wrapper {
  flex-grow: 1;
}

.product-card__table {
  font-size: 12px;
  line-height: 16px;
  color: $secondary-font-color;
  width: 100%;
  max-width: 140px;

  td:last-child {
    text-align: right;
  }
}

@media (min-width: $tablet-min-width) {
  .product-card {
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 324px;

    &::before {
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      top: 150px;
      background-color: $bg-color;
      position: absolute;
      z-index: 1;
    }
  }

  .product-card__wrapper {
    display: flex;
    flex-direction: column;
  }

  .product-card__link {
    z-index: 2;
  }

  .product-card__table-wrapper {
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 100%;
  }

  .product-card__title {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 155px;
  }

  .product-card__table {
    font-size: 16px;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-collapse: collapse;

    td {
      border-bottom: 1px solid #cdcdcd;
      margin-bottom: 10px;
      padding: 10px 0;
    }
  }

  .product-card__button {
    z-index: 2;
    position: relative;
  }
}
