.radio__icon {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 2px solid #cecece;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-radius: 50%;
  position: relative;
}

.radio__input:focus + .radio__icon {
  box-shadow: 0 0 2px 2px #6495ed;
}

.radio__input:checked + .radio__icon::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: $primary-color;
  border-radius: 50%;
  position: absolute;
  left: 7px;
  top: 7px;
}

@media (min-width: $tablet-min-width) {
  .radio__icon {
    width: 40px;
    height: 40px;
  }

  .radio__input:checked + .radio__icon::after {
    width: 18px;
    height: 18px;
    left: 9px;
    top: 9px;
  }
}

@media (min-width: $desktop-min-width) {
  .radio:active {
    opacity: 0.4;
  }
}
