.social__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.social__item {
  list-style-type: none;

  &:not(:last-child) {
    margin-right: 35px;
  }
}

.social__logo {
  fill: #666666;
}

@media (min-width: $tablet-min-width) {
  .social__list {
    margin-bottom: 0;
  }

  .social__logo--vk {
    width: 30px;
    height: 16px;
  }

  .social__logo--instagram {
    width: 22px;
    height: 22px;
  }

  .social__logo--fb {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: $desktop-min-width) {
  .social__logo {
    &:hover {
      fill: $primary-color;
    }

    &:active {
      opacity: 0.4;
    }
  }
}
