.checkbox__icon {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 2px solid #cfcfcf;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  // padding-left: 6px;
  // padding-top: 5px;
  position: relative;
}

.checkbox__input:checked + .checkbox__icon::before,
.checkbox__input:checked + .checkbox__icon::after {
  content: "";
}

.checkbox__icon::before,
.checkbox__icon::after {
  background-color: $primary-color;
  height: 2px;
  position: absolute;
}

.checkbox__icon::before {
  width: 10px;
  top: 15px;
  left: 2px;
  transform: rotate(45deg);
}

.checkbox__icon::after {
  width: 18px;
  top: 12px;
  left: 7px;
  transform: rotate(-45deg);
}
